<div style="width: 80%; margin: auto" *ngIf="!isLoading">
    <div *ngIf='!errors'>
            <p></p>
            <h1 style="text-align: center">#{{ pokemonInfo.id }} {{ pokemonInfo.name | titlecase }}</h1>
            <div>
                <div class="row">
                    <div class="col-4">
                        <img class="card-img-top swing" [src]="pokemonInfo.img" alt="Pokemon">
                    </div>
                    <div class="col d-flex justify-content-center">
                        <div class="d-flex  align-items-center">
        
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card-body">
        
                        <p class="card-text">{{ pokemonInfo.description }}</p>
                        <p>Weight: {{ pokemonInfo.weight }}, Height: {{ pokemonInfo.height }}</p>
                    </div>
                </div>
            </div>
    </div>
    <div *ngIf='errors'>
            <strong>Oops!</strong> {{ this.id | titlecase }} {{ errors | lowercase }}
    </div>
</div>
<div *ngIf="isLoading">
    Loading...
</div>
