<div style="text-align:center" *ngIf="!isLoading">
  <p></p>
  <h5>#{{ pokemonInfo.id }} {{ pokemonInfo.name }}</h5>
  <div>
    <div class="row">
      <div class="col-4">
        <img class="card-img-top" [src]="pokemonImg" alt="Pokemon">
      </div>
      <div class="col d-flex justify-content-center">
        <div class="d-flex  align-items-center">

        </div>
      </div>
    </div>
    <div class="row">
      <div class="card-body">

        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-raised btn-primary" routerLink="" [disabled]="isLoading">
    <span *ngIf="!error">
      <span *ngIf="isLoading">Loading...</span>
      <span *ngIf="!isLoading">Back</span>
    </span>
    <span *ngIf="error">
      Loading Failed
    </span>
  </button>
</div>
<div *ngIf="isLoading">
  Loading...
</div>
