#borderimg1 {
  box-shadow: none;
  border: 10px solid transparent;
  padding: 15px;
  -webkit-border-image: url(http://www.iamdavidlee.com/FirstGame/gamefolder/images/talkBox.png) 30 stretch;
  /* Safari 3.1-5 */
  -o-border-image: url(http://www.iamdavidlee.com/FirstGame/gamefolder/images/talkBox.png) 30 stretch;
  /* Opera 11-12.1 */
  border-image: url(http://www.iamdavidlee.com/FirstGame/gamefolder/images/talkBox.png) 30 stretch;
}

.font {
  font-family: "Pokemon Puzzle Challenge GB", Times, serif;
}
