.center {
  text-align: center;
  margin: auto;
  width: 30%;
  margin-top: 5em;
}

a {
  color: darkslategray;
}

.font {
  font-family: "Pokemon Puzzle Challenge GB", Times, serif;
}

.border {
  border: 1px solid black;
}

.teams {
  margin: auto;
  width: 80%;
}
